body{
    background-color: hsl(212, 45%, 89%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container{ 
    background-color: hsl(0, 0%, 100%);
    max-width: 320px;
    width: 90%;
    height: auto;
    border-radius: 15px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
}

.qr-code-image{
    width: 100%;
    border-radius: 15px;
}

.title{
    color: hsl(218, 44%, 22%);
    font-size: 25px;
    font-family: 'Outfit', sans-serif;
}

.paragraph{
    font-size: 15px;
    color: hsl(216, 15%, 48%);
    font-family: 'Outfit', sans-serif;
}

.attribution{
    position: fixed;
    bottom: 0;
    font-size: 15px;
    padding: 10px;
}